* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

.opponent-area {
	display: flex;
	justify-content: space-around;
	width: 400px;
	margin: 20px auto;
}

.robot-face {
	width: 20%;
}

.robot-face img {
	width: 100%;
}

.speech-bubble {
	position: relative;
	height: 80px;
	width: 70%;
	border: 2px solid;
	border-radius: 20px;
}

.speech-bubble p {
	font-family: 'Bangers', cursive;
	font-size: 1.4em;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
}

.game-area {
	background-color: grey;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	height: 400px;
	width: 400px;
	margin: 20px auto;
}

.square {
	position: relative;
	height: 32%;
	width: 32%;
	background-color: white;
}

.square p {
	font-size: 4em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: fadein;
	animation-duration: 0.4s;
}

/*Modal for when game is over*/
.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.popup {
	background-color: white;
	margin: 10% auto;
	padding: 20px;
	width: 250px;
	text-align: center;
	animation-name: zoom;
    animation-duration: 0.6s;
}

.modal-face {
	width: 40%;
	margin: auto;
}

.modal-face img {
	width: 100%;
}

.end-quote {
	font-style: italic;
	font-family: 'Bangers', cursive;
	font-size: 1.6em;
	margin: 10px;
}

.play {
	padding: 5px;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes fadein {
	from {opacity:0}
	to {opacity:1}
}